#body {
  display: flex;
  height: 70px;
}
.blue {
  background-color: #1F7BD8;
}
.blue img {
  width: 70px;
  height: 60px;
  margin: 3px 300px;
}
.text {
  border: 1px solid red;
  display: flex;
  padding-top: 20px;
  margin-left: 5%;
}
.text h4 {
  color: #fff;
  padding-top: 4px;
}
.text svg {
  width: 50px;
}
.text svg,
.text h4,
.text button {
  margin: 0 2%;
}
.btn {
  background-color: white;
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.02);
}
